.navbar{
    
    background-color: transparent !important;
    border:none;
}
.navbar .navbar-brand{
    color: #fff;
    font-weight: 600;
    font-size: 3em;
}
.navbar .navbar-nav{
    font-size: 1.5em;
    
}



/* .navbar .navbar-brand{
    font-weight: 200;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: #fff;
        transition: all .6s cubic-bezier(0.36, .5, 0.17, 1);
} */
/* .nav{
    font-weight: 200;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: #ef5b95;
        transition: all .6s cubic-bezier(0.36, .5, 0.17, 1);
} */